#section {
  &-title-ship-pay-methods {
    .jl {
      &-content h2 {
        text-align: center;
        line-height: auto;
        padding: var(--spacing-t);
      }
    }
  }
  &-ship-pay-methods {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      background-color: var(--jl-gray-color);
      z-index: -1;
    }
    .jl {
      &-container {
        margin-bottom: 3rem;
      }
      &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__img {
          order: 1;
          width: 30%;
          img {
            width: auto;
            max-width: 80%;
            padding: var(--spacing-b);
          }
        }
        &__link {
          order: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30%;
          &-item {
            display: inline-block;
            width: auto;
            margin: var(--spacing-x);
            perspective: 1000px;
            position: relative;
            transition: ease .3s all;
            animation: bounce infinite 1s;
            transform-origin: center bottom;
            &:hover {
              animation-play-state: paused;
              .jl-content__link-item--coin { 
                transform: rotateY(160deg); 
              }
            }
            &:nth-child(1) .jl-content__link-item--coin { 
              background-color: var(--jl-primary-color); 
            }
            &:nth-child(2) .jl-content__link-item--coin { 
              background-color: var(--jl-secondary-color); 
              img { 
                filter: grayscale(1) brightness(1000%) contrast(0); 
              } 
            }
            &--coin {
              transition: transform .6s;
              display: block;
              width: 100px;
              height: 100px;
              padding: 1.5rem;
              border-radius: 50%;
              box-shadow: 0px 0px 5px rgba($secondary-color, .5);
              img {
                width: auto;
                max-width: 100%;
              }
            }
          }
        }
        &__description {
          order: 3;
          display: flex;
          flex-direction: column;
          width: 30%;
          text-align: right;
          h4 {
            margin: var(--spacing-y);
            padding: 0;
            color: var(--jl-primary-color);
            line-height: auto;
          }
          p {
            margin: var(--spacing-t);
          }
        }
      }
    }
  }
  &-about-us {
    .jl {
      &-container {
        padding-top: 2rem;
        padding-bottom: 4rem;
      }
      &-content {
        position: relative;
        overflow: hidden;
        height: 75vh;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover  {
          .jl-content__sidebar, .jl-content__link {
            margin-left: 0%;
            &-item h2, &-item p {
              opacity: 1;
              transition: ease .05s all;
              transition-delay: 1s;
            }
            a {
              opacity: 1;
              transition: ease .1s all;
              transition-delay: 1s;
            }
          }
          .jl-content__slider {
            transition: ease .1s all;
            transition-delay: .1s all;
            filter: blur(5px) grayscale(100%) brightness(50%);
            animation-play-state: paused;
          }
        }
        &__slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          object-fit:fill;
          object-position: center;
          filter: grayscale(100%) brightness(50%);
        }
        &__link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 100%;
          min-height: 75vh;
          z-index: 2;
          margin-left: 100%;
          a {
            opacity: 0;
            background-color: rgba($tertiary-color, .5);
            width: 75px;
            height: 75px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: ease 1s all;
            &::after {
              content: "";
              position: absolute;
              width: 65px;
              height: 65px;
              top: 5px;
              left: 5px;
              border-radius: 50%;
              background-color: rgba($primary-color, .75);
              z-index: 3;
              display: block;
              box-shadow: 0px 0px 5px rgba($secondary-color, .5);
            }
            &::before {
              content: "";
              position: absolute;
              width: 85px;
              height: 85px;
              top: -5px;
              left: -5px;
              border-radius: 50%;
              background-color: rgba($primary-color, .25);
              z-index: 2;
              display: block;
              box-shadow: 0px 0px 5px rgba($secondary-color, .5);
            }
            i, svg {
              color: var(--jl-tertiary-color);
              z-index: 4;
            }
            &:hover i, svg {
              transform: scale(1.1);
            }
          }
        }
        &__sidebar {
          position: relative;
          display: block;
          z-index: 2;
          margin-left: 100%;
          width: 30%;
          height: 100%;
          min-height: 75vh;
          transition: ease .5s all;
          background-color: var(--jl-tertiary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 3rem;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          box-shadow: 1px 0px 5px rgba($secondary-color, .5);
          &-item {
            text-align: right;
            h2 {
              color: var(--jl-primary-color);
              opacity: 0;
            }
            p {
              color: var(--jl-secondary-color);
              opacity: 0;
            }
          }
        }
      }
    }
  }
}